pytest==6.2.5
black==21.9b0
flake8==3.9.2
pyflakes==2.3.1
cryptography~=42.0.5
setuptools~=68.0.0
pycparser~=2.20
idna~=3.2
urllib3~=2.2.1
certifi~=2023.7.22
requests~=2.31.0
paho-mqtt~=1.5.1
protobuf~=3.20.3
google~=3.0.0
toml~=0.10.2
build~=1.1.1
importlib-metadata<5.0