.
pytest==6.2.5
black==21.9b0
flake8==3.9.2
pyflakes==2.3.1
pip~=21.1.1
cryptography~=3.4.8
py~=1.11.0
setuptools~=68.2.2
pycparser~=2.20
idna~=3.2
urllib3~=1.26.7
certifi~=2023.7.22
requests~=2.31.0
paho-mqtt~=1.5.1
protobuf~=3.18.0